<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
    </head>
    <body>
         <form action="/new" method="post">
             Your Name: <input type="text" name="name"><br>
             Dojo Location <select name="location">
                 <option value="san jose">San Jose</option>
                 <option value="san francisco">San francisco</option>
                 <option value="seattle">Seattle</option>
             </select><br>
            Favorite Language <select name="favorite_language">
                 <option value="java">Java</option>
                 <option value="php">PHP</option>
                 <option value="python">PYTHON</option>
             </select><br>
            Comment <textarea name="comment"></textarea>
            <input type="submit" value="submit">

         </form>
    </body>
</html>