<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
       
    </head>
    <body>
          Name: <%= data.name %> <br>
          Favorite Language:  <%= data.favorite_language %><br>
          Location: <%= data.location %><br>
          Comments: <%= data.comment %><br>

          <form action="/" method="get">
        <input type="submit" value="Back">
          </form>

    </body>
</html>